{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %} Edit Coffee {% endblock %}

{% block content %}
<form class="" action="{% url 'editcoffee' coffee_id=coffee.id %}" method="POST">
  {% csrf_token %}
  {{form|crispy}}
  <input type="submit" name="" value="Edit">
</form>
{% endblock %}

<!-- <html>
  <head>
    <meta charset="utf-8">
    <title>Edit Coffee</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  </head>
  <body>
    <form class="" action="{% url 'editcoffee' coffee_id=coffee.id %}" method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" name="" value="Edit">
    </form>
  </body>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html> -->
